.container {
  padding: 10px;
  max-width: 1200px;
  margin-top: 40px;
  margin-left: 10%;
  //background-color: #7c7878;
  border-radius: 8px;
  //box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.card {
  display: flex;
  gap: 20px;
  //background-color: #a6a8af;
  border-radius: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  overflow: hidden;


  .poster img {
    display: block;
    height: 400px;
    width: 100%;
    border-radius: 8px;
    object-fit: cover;
  }

  .content {
    text-align: left; 
    flex: 1;

    .title {
      font-size: 2rem;
      font-weight: bold;
      color: #1a81e7;
      margin-left: 20px;
    }

    .tagline {
      font-size: 1.2rem;
      font-style: italic;
      color: #888888;
      margin-bottom: 2px;
      margin-left: 20px;
    }

    .rating {
      display: flex;
      align-items: center;
      gap: 10px;
      margin: 10px 0;
      margin-left: 20px;
      margin-top: 35px;
      .score {
        font-size: 1rem;
        color: #555555;
      }
    }

    button {
      margin-top: 10px;
      margin-left: 20px;
      color: #ffffff;
      font-weight: bold;
      padding: 10px 20px;
      text-transform: none;
      border-radius: 4px;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #e64a19;
      }
    }
  }
}
.castContainer {
  margin-top: 20px;

  .header {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: #333333;
    margin-bottom: 20px;
  }

  .actor {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 5px;
    border-radius: 8px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    //background-color: #ffffff;
    //box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

    &:hover {
      transform: translateY(-5px);
      //box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
    }

    .avatar {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      margin-bottom: 10px;
    }

    .name {
      font-size: 0.8rem;
      font-weight: bold;
      color: #333333;
    }

    .character {
      font-size: 0.7rem;
      color: #888888;
    }
  }
}

.dialog {
  .MuiDialogTitle-root {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333333;
  }

  .MuiDialogContent-root iframe {
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }

  .MuiDialogActions-root button {
    background-color: #ff5722;
    color: #ffffff;
    font-weight: bold;
    border-radius: 4px;
    padding: 8px 16px;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #e64a19;
    }
  }
}




  