.main {
  .firstGrid {
    margin-top: 10px;
    flex-direction: row;
    align-items: center; 
    display: flex;
    .button1 {
      color: red;
    }
    .button2 {
      color: gray;
    }
  }
  .secondGrid {
    display: flex; 
    align-items: center;
    justify-content: center;
    .logo {
      color: red;
      text-decoration: none;
    }
  }
  .thirdGrid {
    display: flex;
    align-items: center;
    justify-content: flex-end; 
    .searchIcon {
      color: gray;
    }
    .searchBar {
      color: gray;
      border: 1px solid;
      margin-right: 10px; 
      border-radius: 50px;
      &:hover {
        color: black;
      }
    }
    .profile {
      margin-left: 10px; 
    }
  }
}
