.main {
  .firstGrid {
    margin-top: 10px;
    flex-direction: row;
    .button1 {
      color: red;
    }
    .button2 {
      color: gray;
    }
  }
  .secondGrid {
    .logo {
      color: red;
      text-decoration: none;
    }
  }
  .thirdGrid {
    .searchIcon {
      color: gray;
    }
    .searchBar {
      color: gray;
      border: 1px solid;
      border-radius: 50px;
      &:hover {
        color: black;
      }
    }
  }
}
