.container {
  background-color: #f9f9f9;
  padding-bottom: 40px;
}

.container {
  background-color: #f9f9f9;
  position: relative;
  padding-bottom: 40px;
}

.banner {
  width: 100%;
  height: auto;
  position: relative;
}

.bannerOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  background: rgba(0, 0, 0, 0.4); 
}

.pageTitle {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin: 0;
}

.pageDescription {
  font-size: 1rem;
  text-align: center;
  margin-top: 10px;
}


.filterContainer {
  display: flex;
  margin-top: 50px;
  justify-content: center;
  margin-bottom: 50px;

  button {
    text-transform: none;
    background-color: #1976d2;

    &:hover {
      background-color: #145a99;
    }
  }
}

.loadingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  
}

.moviesGrid {
  padding: 0 10px;
  margin-bottom: 80px;
}

.movieCard {
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  border-radius: 10px;
  overflow: hidden;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  }
}

.movieLink {
  text-decoration: none;
}

.moviePoster {
  height: 220px;
  object-fit: cover;
  border-radius: 8px 8px 0 0;
}

.movieTitle {
  font-size: 0.9rem;
  font-weight: bold;
  color: #333;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.movieDate {
  color: #888;
  margin-top: 5px;
  font-size: 0.85rem;
}
