.dateTabsContainer {
    background-color: #f4f6fb;
    border-radius: 8px;
    padding: 8px 0;
  }
  
  .dateTabs {
    .date-tab {
      text-transform: none;
      color: #9baac1;
      transition: background-color 0.3s ease;
  
      &.active {
        background-color: #c4d6f3;
        border-radius: 8px 0 0 8px;
        color: #506690;
        font-weight: bold;
      }
  
      .tabContent {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
  
      .date {
        font-size: 14px;
        font-weight: 600;
      }
  
      .day {
        font-size: 12px;
        color: #7d8ca1;
      }
    }
  }